Frontend/ElChinoShop_Cliente/xml-resources/web-service-references/servicios_1/wsdl/localhost_8080/ElChinoShop_server/servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/ElChinoShop_server/servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="verificar_fecha">
<part name="parameters" element="tns:verificar_fecha"/>
</message>
<message name="verificar_fechaResponse">
<part name="parameters" element="tns:verificar_fechaResponse"/>
</message>
<message name="insertar_fecha">
<part name="parameters" element="tns:insertar_fecha"/>
</message>
<message name="insertar_fechaResponse">
<part name="parameters" element="tns:insertar_fechaResponse"/>
</message>
<message name="insertar_venta_fecha">
<part name="parameters" element="tns:insertar_venta_fecha"/>
</message>
<message name="insertar_venta_fechaResponse">
<part name="parameters" element="tns:insertar_venta_fechaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="imprimir_fechas">
<part name="parameters" element="tns:imprimir_fechas"/>
</message>
<message name="imprimir_fechasResponse">
<part name="parameters" element="tns:imprimir_fechasResponse"/>
</message>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="insertar_categoria">
<part name="parameters" element="tns:insertar_categoria"/>
</message>
<message name="insertar_categoriaResponse">
<part name="parameters" element="tns:insertar_categoriaResponse"/>
</message>
<message name="imprimir_cliente_fila">
<part name="parameters" element="tns:imprimir_cliente_fila"/>
</message>
<message name="imprimir_cliente_filaResponse">
<part name="parameters" element="tns:imprimir_cliente_filaResponse"/>
</message>
<message name="imprimir_producto_categoria">
<part name="parameters" element="tns:imprimir_producto_categoria"/>
</message>
<message name="imprimir_producto_categoriaResponse">
<part name="parameters" element="tns:imprimir_producto_categoriaResponse"/>
</message>
<message name="verificar_categoria_codigo">
<part name="parameters" element="tns:verificar_categoria_codigo"/>
</message>
<message name="verificar_categoria_codigoResponse">
<part name="parameters" element="tns:verificar_categoria_codigoResponse"/>
</message>
<message name="insertar_productos">
<part name="parameters" element="tns:insertar_productos"/>
</message>
<message name="insertar_productosResponse">
<part name="parameters" element="tns:insertar_productosResponse"/>
</message>
<message name="imprimir_cliente_filacolumna">
<part name="parameters" element="tns:imprimir_cliente_filacolumna"/>
</message>
<message name="imprimir_cliente_filacolumnaResponse">
<part name="parameters" element="tns:imprimir_cliente_filacolumnaResponse"/>
</message>
<message name="verificar_categoria_nombre">
<part name="parameters" element="tns:verificar_categoria_nombre"/>
</message>
<message name="verificar_categoria_nombreResponse">
<part name="parameters" element="tns:verificar_categoria_nombreResponse"/>
</message>
<message name="imprimir_categorias">
<part name="parameters" element="tns:imprimir_categorias"/>
</message>
<message name="imprimir_categoriasResponse">
<part name="parameters" element="tns:imprimir_categoriasResponse"/>
</message>
<message name="insertarUsuario">
<part name="parameters" element="tns:insertarUsuario"/>
</message>
<message name="insertarUsuarioResponse">
<part name="parameters" element="tns:insertarUsuarioResponse"/>
</message>
<portType name="servicios">
<operation name="verificar_fecha">
<input wsam:Action="verificar_fecha" message="tns:verificar_fecha"/>
<output wsam:Action="http://servicio/servicios/verificar_fechaResponse" message="tns:verificar_fechaResponse"/>
</operation>
<operation name="insertar_fecha">
<input wsam:Action="insertar_fecha" message="tns:insertar_fecha"/>
<output wsam:Action="http://servicio/servicios/insertar_fechaResponse" message="tns:insertar_fechaResponse"/>
</operation>
<operation name="insertar_venta_fecha">
<input wsam:Action="insertar_venta_fecha" message="tns:insertar_venta_fecha"/>
<output wsam:Action="http://servicio/servicios/insertar_venta_fechaResponse" message="tns:insertar_venta_fechaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://servicio/servicios/helloRequest" message="tns:hello"/>
<output wsam:Action="http://servicio/servicios/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="imprimir_fechas">
<input wsam:Action="imprimir_fechas" message="tns:imprimir_fechas"/>
<output wsam:Action="http://servicio/servicios/imprimir_fechasResponse" message="tns:imprimir_fechasResponse"/>
</operation>
<operation name="validarUsuario">
<input wsam:Action="http://servicio/servicios/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://servicio/servicios/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="insertar_categoria">
<input wsam:Action="insertar_categoria" message="tns:insertar_categoria"/>
<output wsam:Action="http://servicio/servicios/insertar_categoriaResponse" message="tns:insertar_categoriaResponse"/>
</operation>
<operation name="imprimir_cliente_fila">
<input wsam:Action="imprimir_cliente_fila" message="tns:imprimir_cliente_fila"/>
<output wsam:Action="http://servicio/servicios/imprimir_cliente_filaResponse" message="tns:imprimir_cliente_filaResponse"/>
</operation>
<operation name="imprimir_producto_categoria">
<input wsam:Action="imprimir_producto_categoria" message="tns:imprimir_producto_categoria"/>
<output wsam:Action="http://servicio/servicios/imprimir_producto_categoriaResponse" message="tns:imprimir_producto_categoriaResponse"/>
</operation>
<operation name="verificar_categoria_codigo">
<input wsam:Action="verificar_categoria_codigo" message="tns:verificar_categoria_codigo"/>
<output wsam:Action="http://servicio/servicios/verificar_categoria_codigoResponse" message="tns:verificar_categoria_codigoResponse"/>
</operation>
<operation name="insertar_productos">
<input wsam:Action="insertar_productos" message="tns:insertar_productos"/>
<output wsam:Action="http://servicio/servicios/insertar_productosResponse" message="tns:insertar_productosResponse"/>
</operation>
<operation name="imprimir_cliente_filacolumna">
<input wsam:Action="imprimir_cliente_filacolumna" message="tns:imprimir_cliente_filacolumna"/>
<output wsam:Action="http://servicio/servicios/imprimir_cliente_filacolumnaResponse" message="tns:imprimir_cliente_filacolumnaResponse"/>
</operation>
<operation name="verificar_categoria_nombre">
<input wsam:Action="verificar_categoria_nombre" message="tns:verificar_categoria_nombre"/>
<output wsam:Action="http://servicio/servicios/verificar_categoria_nombreResponse" message="tns:verificar_categoria_nombreResponse"/>
</operation>
<operation name="imprimir_categorias">
<input wsam:Action="imprimir_categoria" message="tns:imprimir_categorias"/>
<output wsam:Action="http://servicio/servicios/imprimir_categoriasResponse" message="tns:imprimir_categoriasResponse"/>
</operation>
<operation name="insertarUsuario">
<input wsam:Action="http://servicio/servicios/insertarUsuarioRequest" message="tns:insertarUsuario"/>
<output wsam:Action="http://servicio/servicios/insertarUsuarioResponse" message="tns:insertarUsuarioResponse"/>
</operation>
</portType>
<binding name="serviciosPortBinding" type="tns:servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verificar_fecha">
<soap:operation soapAction="verificar_fecha"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar_fecha">
<soap:operation soapAction="insertar_fecha"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar_venta_fecha">
<soap:operation soapAction="insertar_venta_fecha"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimir_fechas">
<soap:operation soapAction="imprimir_fechas"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar_categoria">
<soap:operation soapAction="insertar_categoria"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimir_cliente_fila">
<soap:operation soapAction="imprimir_cliente_fila"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimir_producto_categoria">
<soap:operation soapAction="imprimir_producto_categoria"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificar_categoria_codigo">
<soap:operation soapAction="verificar_categoria_codigo"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertar_productos">
<soap:operation soapAction="insertar_productos"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimir_cliente_filacolumna">
<soap:operation soapAction="imprimir_cliente_filacolumna"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificar_categoria_nombre">
<soap:operation soapAction="verificar_categoria_nombre"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imprimir_categorias">
<soap:operation soapAction="imprimir_categoria"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="servicios">
<port name="serviciosPort" binding="tns:serviciosPortBinding">
<soap:address location="http://localhost:8080/ElChinoShop_server/servicios"/>
</port>
</service>
</definitions>